<div class="landing-page">
  <div class="background"></div>
    <div class="content">
      <h1 class="text-center">Andrew Accuardi</h1>
      <h3><a href="/projects">Current time sink</a> | <a href="/about">1993-2017</a></h3>
    </div>
</div>
