<% @projects.each do |project| %>
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3 class="panel-title"><%= link_to project["name"], "#{project["html_url"]}" %></h3>
      </div>
    </div>
  </div>
</div>
<% end %>
