<h1 class="text-center">History</h1>
<hr>
<h3>Before I began my track at Epicodus, I spent years in the service industry. Between managing night shifts at a

busy pizza parlor, to managing a warehouse at a furniture store, the skills that I have gained working with the

public, being a part of teams, and even taking the lead are apparent. About one year prior to joining the school, I

decided to set out on a personal journey from Kennedy Meadows to Yosemite on the High Sierra section of the

Pacific Crest Trail. This experience, coupled with a two month stay at Olallie Lake has increased my curiosity for the

outdoors and strengthened my appreciation for all that inhabits it.</h3>
