@import "bootstrap-sprockets";
@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@keyframes fadeIn {
  0% {
    background: url('');
    opacity: 0;
  }
  1% {
    background: url("snow.jpg") no-repeat center ;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    z-index: -1;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
 html {
   min-height: 100vh;
 }

body {
  background-color: black;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

body, html {
  height: 100%;
}

.background {
  animation: fadeIn 4s ease-in;
  background: url("snow.jpg") no-repeat center ;
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: brightness(70%);
  z-index: -1;
}

.landing-page {
  position: relative;
  height: 100vh;
  width: 100vw;
  color: white;
  top: -64px;
  h1 {
  margin-top: 0;
  }
  .content {
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
  }
}

nav {
  z-index: 2;
  position: relative;
}

a, a:hover {
  color: white;
}

div.container-fluid {
  background-color: black;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav li a {
  color: white;
}


.panel .panel-body .panel-title {
  color: black;
}

.panel .panel-body .panel-title a:hover {
  color: black;
}


h1 {
  color: white;
  text-shadow: 1px 1px 2px #000;
}
h2 {
  color: white;
}
h3 {
  color: white;
}
h4 {
  color: white;
}
h5 {
  color: white;
}
h6 {
  color: white;
}

label {
  color: white;
}
